@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    height: 72px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 124px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .contacts-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-people-tab-1x.jpg);
  }
  @media screen and(-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .button-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-people-tab-2x.jpg);
    }
  }
  .main-title {
    max-width: 496px;
    height: 120;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .primary-button:hover,
  .primary-button:focus {
    background-color: #404bbf;
  }
  .primary-button {
    min-width: 169px;
  }
  .text-container {
    width: 768px;
  }
  .list-text {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list-item {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }
  .social-link:hover,
  .social-link:focus,
  .social-link:active {
    background-color: #404bbf;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .card-portfolio {
    width: 356px;
  }
  .portfolio-img {
    min-width: 356px;
  }
  .portfolio-element {
    width: calc((100% - 24px) / 2);
  }
  .footer-container {
    width: 584px;
    row-gap: 72px;
    align-items: stretch;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-best {
    margin-right: 24px;
    width: 264px;
    height: 112px;
  }
  .footer-social {
    width: 208px;
    height: 80px;
    display: block;
  }
  .social-text {
    text-align: start;
  }
  .icon-footer {
    margin: 0;
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-footer:hover,
  .social-link-footer:active {
    background-color: #31d0aa;
  }
  .social-link-footer:focus {
    background-color: #31d0aa;
  }
  .email-input {
    width: 264px;
    transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-footer {
    text-align: start;
  }
  .subscribe-button {
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-svg {
    fill: #fff;
    margin-left: 16px;
  }
  .form-class-footer.email-input:hover {
    border: 1px solid #31d0aa;
  }
  .form-class-footer.subscribe-button:hover {
    background-color: #31d0aa;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .text-modal {
    width: 360px;
  }
  .modal-form {
    width: 360px;
    min-height: 336px;
  }
  .modal.buttom-modal:hover,
  .buttom-modal:focus {
    border: none;
    background-color: #404bbf;
  }
  .modal-input:focus + .modal-icon,
  .modal-input:hover + .modal-icon {
    fill: #4d5ae5;
  }
  .modal-input {
    width: 360px;
  }
  .form-wrraper-cont-comment {
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cubic-bezier: (0.4, 0, 0.2, 1);
  }
  .email-input {
    width: 264px;
    transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-footer {
    text-align: start;
  }
  .subscribe-button {
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-svg {
    fill: #fff;
    margin-left: 16px;
  }
  .form-class-footer.email-input:hover {
    border: 1px solid #31d0aa;
  }
  .form-class-footer.subscribe-button:hover {
    background-color: #31d0aa;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .text-modal {
    width: 360px;
  }
  .modal-form {
    width: 360px;
    min-height: 336px;
  }
  .modal.buttom-modal:hover,
  .buttom-modal:focus {
    border: none;
    background-color: #404bbf;
  }
  .modal-input:focus + .modal-icon,
  .modal-input:hover + .modal-icon {
    fill: #4d5ae5;
  }
  .modal-input {
    width: 360px;
  }
  .form-wrraper-cont-comment {
    width: 360px;
  }
}
